<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/test"></ion-back-button>
    </ion-buttons>
    <ion-title>Fashion Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fashion-listing-content">
  <ng-container *ngIf="viewState$ | async as vs">
    <ion-row class="items-row">
      <ion-col size="6" class="listing-item" *ngFor="let item of vs.productList">
        <div class="item-image-wrapper">
          <a class="image-anchor" (click)="navigateDetails(item)">
            <app-aspect-ratio [ratio]="{w: 3, h: 4}">
              <app-image-shell class="item-image" animation="spinner" [src]="item.thumbnail"
                [alt]="'product image'"></app-image-shell>
            </app-aspect-ratio>
          </a>
        </div>
        <ion-row class="item-body">
          <ion-col size="12" class="main-info">
            <h4 class="item-name">
              <a class="name-anchor">
                <app-text-shell animation="gradient" [data]="item.title"></app-text-shell>
              </a>
            </h4>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>