<lib-header *ngIf="viewState$ | async as vs" [headerData]="vs"></lib-header>

<ion-content>


    <!-- <ion-button (click)="openProductsReview()" expand="block" fill="clear" shape="round">
        Open Products Review Page
    </ion-button>

    <ion-button (click)="addressesMedusa()" expand="block" fill="clear" shape="round">
        Manage Addresses
    </ion-button> -->

    <ion-row *ngIf="viewState$ | async as vs">
        <!-- <ion-col size="12" *ngIf="vs?.isCustomerLoggedIn && vs.isUserLoggedIn; else loggedOut"> -->
        <ion-col size="12" *ngIf="vs?.isCustomerLoggedIn && vs.isUserLoggedIn">
            <ion-button (click)="cartReviewMedusa()" expand="block" fill="clear" shape="round">
                Cart Review
            </ion-button>
        </ion-col>
        <!-- <ng-template #loggedOut> -->

        <!-- <ion-col size="12" *ngIf="vs?.cart?.email === null"> -->
        <ion-col size="12">
            <ion-label color="primary">
                <p> {{ vs?.cart?.email }} </p>
                Please friend, login or...
            </ion-label>
            <ion-button (click)="continueAsGuest()" expand="block" fill="outline" shape="round">
                Continue as a Guest
            </ion-button>
            <ion-button (click)="cartReviewMedusa()" expand="block" fill="clear" shape="round">
                Cart Review
            </ion-button>
        </ion-col>

    </ion-row>

    <!-- <ion-button (click)="loginMedusa()" expand="block" fill="clear" shape="round">
        Login to Medusa (returning customer)
    </ion-button>

    <ion-button (click)="registerMedusa()" expand="block" fill="clear" shape="round">
        Register (New Customer)
    </ion-button> -->

    <!-- <ion-button (click)="checkoutMedusa()" expand="block" fill="clear" shape="round">
        Proceed to Checkout
    </ion-button> -->

</ion-content>